*{
    bottom: 0;
    margin: 0;
    box-sizing: border-box;
}
.wrapper{
    
    display: flex;
    height: 100vh;
    
    background-color:rgb(103, 72, 241);
    align-items: center;
    justify-content: center;
 ;
}




.quiz-start{
    font-size: 1.75rem;
    padding: 1rem;
    color:  rgb(38, 0, 255);
    box-shadow: 2px 2px 20px rgba(255, 254, 254,0.5);
    transition: 0.3s all;
    border: none;;

 
}
.quiz-start:hover{
cursor: pointer;
transform: translateY(-0.75rem);

}

.guide-container{
    background-color:white;
    height: 45vh;
    width: 70vh;
}

.guide-container .heading{
    border-bottom: 2px solid lightgray;
    padding: 0.5rem;
    text-align: center;
    margin: 0.5rem 0;
}

.quiz-info {
    margin: 0.25rem;
    font-size: 1.17rem;
    padding: 0.25rem;
    color:  rgb(38, 0, 255);

}

.btn-container{
    display: flex;
   height: 20vh;
    border-top: 1px solid lightgray;
    justify-content: flex-end;
    padding-right: 0.5rem;
    align-items: center;}

.btn-container button{
    font-size: 1rem;
    border: 2px solid  rgb(38, 0, 255) ;
    color:white ;
    font-weight: 500;
    padding: 0.5rem;
    background-color:  rgb(38, 0, 255);
    margin:  0.75rem 0.5rem;
    border-radius: 0.2rem;
    cursor: pointer;
    width: 5rem;
    transition:all 0.3s ease;
}

.btn-container .quiz-exit{
    background-color:white;
    color:  rgb(38, 0, 255);
}
.quiz-exit:hover{
    background-color:  rgb(38, 0, 255);
    color:rgb(245, 106, 106) ;
}


.quiz-restart:hover{
    background-color:  rgb(65, 33, 245);
   
}


.quiz-box{
 
  width: 75vh;
  height:510px;
  overflow: hidden;
 
  background-color: white;
}


.quiz-head{
    background-color: white;
    display: flex;
    text-align: center;
    justify-content: space-between;
    padding: 0.5rem;
    border-bottom: 1px solid gray;
    height: 100px;
    }
.quiz-heading{
    display: flex;
   align-items: center;
    justify-content: center;
}

.quiz-ques h2{
    padding: 0.5rem;
    margin: 0.5rem 0;
}
.selected{
   
    background-color: rgb(224, 115, 115) !important ;
 }
 .disable{
     pointer-events: none;
 }
 .correct{
     background-color: greenyellow !important;

 }
 .incorrect{
     background-color: red !important;
 }

.quiz-option{
font-size: 1.3rem;
margin: 0.5rem 0;
padding: 0.5rem;
background-color: rgb(119, 98, 240);
border-radius: 0.25rem;
transition:all 0.3s  ease;

}
.quiz-option:hover{
color: gray;
background-color: rgb(99, 75, 233);
border-color: greenyellow;
}


.timer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgb(119, 98, 240);
    color: white;
    padding:0.5rem;
    font-size: 1.25rem;
    border-radius: 0.3rem;
}
.timer-sec{
    margin: 0.5rem;
    border: 2px solid black;
    padding: 0.15rem 0.3rem;
    background-color: black;
    border-radius: 0.3rem;
}
.quiz-sect{
    height: 320px;
    padding: 0 1rem;
    background-color: white;
    margin-top: 0rem;
}
section{
    background:white ;
}
.quiz-options ul{
    list-style: none;
   
    padding-left: 0.5rem;
}

.footer-items{
    background-color: rgb(255, 255, 255);
    height: 80px;
display: flex;
justify-content: space-between;
align-items: center;
padding: 0.5rem ;
padding-right:1rem;
}

.footer-items .next-question{
    font-size: 1.25rem;
    border-radius: 0.25rem;
    border: none;
    outline: none;
    background-color: rgb(119, 98, 240);
    padding:0.5rem 0.75rem;
}
.footer-items .que-count{
    margin-left:0.75rem ;
}

.inactive{
    display: none;
}

